*, *::before, *::after {
	box-sizing: border-box;
}

body{
	margin:0;
	padding: 0;
}

.container {
	display:grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-rows: minmax(120px,auto) repeat(5,100px);
	grid-template-columns: repeat(4,100px);
	
}


.output {
	grid-column: 1 / -1 ;
	background: lightgrey;
	display:flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-direction: column;
	font-size: 2rem;
	padding-right: 10px;
}


.span-two {
	grid-column: span 2;
}