body {
	background: #8E0E00;
}

#head{
	border:1px solid black;
	max-width: 300px;
	margin:0 auto;
	 background: #f7f7f7;
	 height:500px;

}

h1 {
	background: #1F030C;
	color:white;
	text-align: center;
	margin:0;
	padding:0;
	font-size: 1.5rem;
	font-weight: 200;
}


p {
	padding-left: 30px;
}

#dollar {
	margin-left: 30px;
	padding:5px;
	width:70%;
}

#dollar:focus {
	border:2px solid blue;
}

#people {
	margin-left: 30px;
	padding:5px;
	width:70%;
}
select {
	margin-left: 30px;
	padding:20px;
	width:70%
}



button {
	display: block;
	margin-top: 30px;
	text-align: center;
	margin:20px auto;
	padding:10px;
	width:50%;
	background: darkred;
}

#result {
	text-align: center;
	font-size: 1.7rem;
	width:50%;
	margin-left:auto;
	margin-right: auto;

}