body { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.container {
	display: flex;
  flex-wrap: wrap;
  height: 80vh;
  width:960px;
  margin:0 auto;
  padding-left: 0;
  justify-content: center;
  border:2px solid black;
}


.square {
	
	flex-basis: 25%; 
	height:25%;
	outline:1px solid lightgrey;
}